<footer class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-md-3">
      <strong>IN:</strong> 73920321<br>
      <strong>TIN:</strong> CZ7811167628 (<a href="http://ec.europa.eu/taxation_customs/vies/">VIES</a>)<br>
      <strong>Time Zone:</strong> <a href="http://everytimezone.com/" target="_blank">CEST</a>
    </div>
    <div class="col-md-3">
      <strong>Address:</strong> Alžírská 1499/32<br>
      Ostrava - Poruba, 70800<br>
      Czech Republic
    </div>
    <div class="col-md-3">
      <strong>Contact:</strong> Ladislav Martinčík<br>
      <strong>Phone:</strong> +420 608 280 003<br>
      <strong>Email:</strong> <a href="mailto:support@slowpath.com">support@slowpath.com</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-md-9">
      Created with <span class="love">&hearts;</span> in Czech Republic. All rights reserved.
    </div>
  </div>
</footer>
