<header class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-md-7 brand">
      <a href="{{ site.baseurl }}/">{{ site.name }}</a>
    </div>
    <!--
    <div class="col-md-6">
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">HOME</a></li>
          {% for p in site.pages %}
            {% if page.url == p.url %}
              <li class="active"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% else %}
              <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    -->
  </div>
</header>

