* {
  border:none;
  outline:none;
  text-rendering:optimizeLegibility;
}

::selection {
  background: rgba(51, 123, 183, .2);
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  line-height: 1.5em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 100px;

  ul {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-left: 0;

    li {
      list-style: none;
      display: inline-block;
      padding-right: 20px;
      text-transform: uppercase;
    }

    li.active {
      font-weight: 800;
    }
  }

  .brand {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    line-height: 0.5em;
  }
}

footer {
  margin-top: 100px;
  margin-bottom: 80px;

  .love {
    animation: pulse 1s linear infinite;
    font-size: 20px;
    color: rgb(51, 123, 183);
    padding: 0 2px;
  }

  @keyframes "pulse" {
   0% {
      transform: scale(1.1);
   }
   50% {
      transform: scale(0.8);
   }
   100% {
      transform: scale(1);
   }
  }
}

#pitch {
  margin-top: 80px;
  padding-right: 100px;

  h1 {
    font-size: 37px;
    font-weight: 700;

    span.plusone {
      font-size: 30px;
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: -35px;
      color: red;
      margin-right: -55px;
      transform: skew(0deg) rotate(-30deg) scale(1);
    }

    span.their {
      text-decoration: line-through;
    }

    span.your {
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: 35px;
      left: -93px;
      color: red;
      margin-right: -95px;
    }

    strong {
      background: rgb(255,255,120);
      padding: 0 10px;
    }
  }
}

#expectations {
  margin-top: 70px;
  margin-bottom: 70px;

  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;

  .para {
    margin-top: 40px;
  }

  .clients {
    margin-top: 30px;

    img {
      float: left;
      margin-right: 20px;
    }
  }
}

#worries {
  margin-top: 70px;
  padding: 100px 0;

  background: #379;
  color: #fff;

  .row {
    margin-bottom: 50px;

    p {
      line-height: 1.6em;
      font-size: 18px;
    }
  }
}

#about_intro {
  margin-top: 100px;
}

#about {
  padding: 100px 0 50px 0;
  background: #fff;

  h4 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
    margin: 0;

    span.plusone {
      font-size: 20px;
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: -15px;
      color: red;
      transform: skew(0deg) rotate(-30deg) scale(1);
    }
  }

  p.title {
    line-height: 1.6em;
    color: #888;
  }

  .members {
    margin-bottom: 50px;

    .avatar {
       img {
          width: 80px;
          height: 80px;
       }
    }
  }
}

