* {
  border:none;
  outline:none;
  text-rendering:optimizeLegibility;
}

a {
  text-decoration: underline;
}

::selection {
  background: rgba(51, 123, 183, .2);
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  line-height: 1.5em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 100px;

  ul {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-left: 0;

    li {
      list-style: none;
      display: inline-block;
      padding-right: 20px;
      text-transform: uppercase;
    }

    li.active {
      font-weight: 800;
    }
  }

  .brand {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    line-height: 0.5em;

    a {
      text-decoration: none;
    }
  }
}

footer {
  margin-top: 50px;
  margin-bottom: 80px;
  .row {
    margin-bottom: 30px;
  }
}

#pitch {
  margin-top: 80px;
  padding-right: 100px;

  h1 {
    font-size: 37px;
    font-weight: 700;

    span.plusone {
      font-size: 30px;
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: -35px;
      color: red;
      margin-right: -55px;
      transform: skew(0deg) rotate(-30deg) scale(1);
    }

    span.their {
      text-decoration: line-through;
    }

    span.your {
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: 35px;
      left: -93px;
      color: red;
      margin-right: -95px;
    }

    strong {
      background: rgb(255,255,120);
      padding: 0 10px;
    }
  }
}

#expectations {
  margin-top: 70px;
  margin-bottom: 110px;

  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;

  .para {
    margin-top: 40px;
  }

  .clients {
    margin-top: 30px;

    img {
      float: left;
      margin-right: 20px;
    }
  }
}

#worries,
#how2success,
#ourhelp,
#benefits,
#services,
#faq,
#process,
#calltoaction {
  padding: 80px 0;

  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;

  background: #337BB7;
  color: #fff;


  h1 {
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
  }

  ul {
    list-style-type: lower-roman;
  }

  ul, ol {
    line-height: 1.8em;
    font-size: 22px;
    margin-top: 40px;
  }

  ol li {
    margin-bottom: 20px;
  }

  p {
    margin-top: 30px;
    font-size: 20px;
  }

  .note-bottom {
  }
}

#worries,
#calltoaction {
  background: #337BB7 url('/images/escheresque.png');
  background-color: #337bb7;
  background-image: url(http://www.transparenttextures.com/patterns/robots.png);
  strong {
    background: rgb(255,255,120);
    padding: 0 10px;
    color: #444;
  }
}

#how2success,
#ourhelp,
#benefits,
#services,
#faq,
#process {
  background: #fff;
  color: #444;
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/lined-paper-2.png);

  strong {
    background: rgb(255,255,120);
    padding: 0 10px;
    color: #444;
  }

  h1 {
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 80px;
  }

  p:last-child {
    padding-bottom: 60px;
  }
}

#ourhelp {
  background: #337BB7;
  color: #fff;
  background-image: url(http://www.transparenttextures.com/patterns/lined-paper-2.png);
}

#benefits {
  color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background-color: #242424;
  background-image: url(http://www.transparenttextures.com/patterns/shattered-dark.png);

  h3 {
    position: relative;
    .guarantee {
      position: absolute;
      top: -40px;
      right: 310px;
      width: 120px;
    }
  }
}

#process {
  color: #fff;
  background-color: #242424;
  background-image: url(http://www.transparenttextures.com/patterns/whitey.png);

  a {
    color: #fff;
  }
}

#faq {
background-color: #ffffff;
background-image: url(http://www.transparenttextures.com/patterns/worn-dots.png);
}

#services {
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/transparent-square-tiles.png);
}


#about_intro {
  margin-top: 100px;
}

#about {
  padding: 100px 0;
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/ag-square.png);

  h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  h4 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
    margin: 0;

    span.plusone {
      font-size: 20px;
      position: relative;
      display: inline-block;
      font-family: 'Leckerli One';
      top: -15px;
      color: red;
      transform: skew(0deg) rotate(-30deg) scale(1);
    }
  }

  p.title {
    line-height: 1.6em;
    color: #888;
  }

  .members {
    margin-top: 40px;
    margin-bottom: 50px;

    .avatar {
       img {
          width: 80px;
          height: 80px;
       }
    }
  }
}

.button, .button:visited {
  background: #222 url(/images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}


.button:hover {
  background-color: #111; color: #fff;
  text-decoration: none;
}
.button:active {
  top: 1px;
  text-decoration: none;
}
.super.button, .super.button:visited {
  font-size: 24px;
  padding: 8px 24px 9px;
}

.green.button, .green.button:visited {
  background-color: #91bd09;
  text-decoration: none;
}
.green.button:hover { 
  background-color: #749a02;
  text-decoration: none;
}


